import /vendor/etc/init/connectivity/init.connectivity.gps.rc

on boot
    # z00142519 change permissions for bluetooth
    chmod 660 /dev/ttyAMA4
    chown bluetooth bluetooth /dev/ttyAMA4

    # z00142519 bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0774 /sys/class/rfkill/rfkill0/state

    # z00142519 bluesleep start/stop interface
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 664 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
    chmod 664 /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwake
    chmod 664 /proc/bluetooth/sleep/btwake
    chown bluetooth bluetooth /proc/bluetooth_power/data/calibrate
    chmod 664 /proc/bluetooth_power/data/calibrate

#wifi
    setprop wifi.interface wlan0
    setprop wifi.direct.interface p2p-dev-wlan0

    # enable apk to control the fwlog output
    chown system system /sys/module/bcmdhd/parameters/dhd_console_ms
    chown system system /sys/devices/platform/bcmdhd_wlan.1/wifi_arp_timeout
    chown system system /sys/kernel/debug/bcmdhd/debug_sdio_quality
    chown system system /sys/kernel/debug/bcmdhd/debug_wl_counters
    chown system system /sys/kernel/debug/bcmdhd/debug_otp
    chmod 0440 /sys/kernel/debug/bcmdhd/debug_sdio_quality
    chmod 0440 /sys/kernel/debug/bcmdhd/debug_wl_counters
    chmod 0660 /sys/kernel/debug/bcmdhd/debug_otp
    restorecon /sys/kernel/debug/bcmdhd/debug_otp
    # control vio from framework
    chown system system /dev/vio
    # control wlanfty_status from framework
    chown system system /dev/wlanfty_status
    chmod 400 /dev/wlanfty_status
    # control wlanfty_ver from framework
    chown system system /dev/wlanfty_ver
    chmod 400 /dev/wlanfty_ver
    # control wifi firmware path
    chown wifi wifi /sys/module/bcmdhd/parameters/firmware_path
    chown wifi wifi /sys/module/bcmdhd/parameters/nvram_path
    # write Region
    chown system system /sys/module/bcmdhd/parameters/region
    write /sys/module/bcmdhd/parameters/region ${ro.product.locale.region}
    # rps function
    write /sys/class/net/wlan0/queues/rx-0/rps_cpus f
    write /sys/class/net/wlan0/queues/rx-0/rps_flow_cnt 4096
